@font-face {
  font-family: 'VazirMatnRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/static/Vazirmatn-Regular.woff2')format('woff2')
      url('../assets/fonts/static/Vazirmatn-Regular.woff')format('woff');
}